## 동서발전 동해하수종말처리장태양광 데이터 정리

- 데이터 : 김민주 원우님이 제공함
- 데이터 형태 
    - 발전소, 날짜, 시간1, 시간2 ... 으로 구성됨
    - 시간별 발전량이 가로로 배열되어 있음
- 작업내용   
    - 날짜, 시간, 발전량 세로 배열로 변경

In [1]:
# 라이브러리 로딩 
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# 데이터 로딩 
dongseo_power = pd.read_csv('한국동서발전(주)_태양광 발전량 현황_20200701.csv', encoding='cp949')

In [3]:
dongseo_power.head()

,구분,일시,1시,2시,3시,4시,5시,6시,7시,8시,...,15시,16시,17시,18시,19시,20시,21시,22시,23시,24시
0,당진매립장태양광,2017-07-01,0,0,0,0,0,0,24,86,...,107,70,15,2,0,0,0,0,0,0
1,당진매립장태양광,2017-07-02,0,0,0,0,0,0,0,48,...,170,155,39,7,0,0,0,0,0,0
2,당진매립장태양광,2017-07-03,0,0,0,0,0,0,1,47,...,21,91,150,118,0,0,0,0,0,0
3,당진매립장태양광,2017-07-04,0,0,0,0,0,0,24,75,...,684,543,397,240,103,12,0,0,0,0
4,당진매립장태양광,2017-07-05,0,0,0,0,0,0,28,103,...,645,573,454,276,94,6,0,0,0,0

In [4]:
dongseo_power['구분'].unique()

array(['당진매립장태양광', '동해하수종말처리장 태양광', '수원하수처리장태양광'], dtype=object)

In [5]:
# 동해하수종말처리장 태양광발전소 데이터 분리
df = dongseo_power[dongseo_power['구분'] == '동해하수종말처리장 태양광']

In [6]:
# 구분 drop
df.drop('구분', axis=1, inplace=True)

/Users/jin/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:3990: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [7]:
df.reset_index(drop=True, inplace=True)

In [8]:
df.head()

,일시,1시,2시,3시,4시,5시,6시,7시,8시,9시,...,15시,16시,17시,18시,19시,20시,21시,22시,23시,24시
0,2018-01-01,0,0,0,0,0,0,0,7,245,...,1231,698,196,2,0,0,0,0,0,0
1,2018-01-02,0,0,0,0,0,0,0,5,185,...,1004,551,153,0,0,0,0,0,0,0
2,2018-01-03,0,0,0,0,0,0,0,2,216,...,1129,311,180,2,0,0,0,0,0,0
3,2018-01-04,0,0,0,0,0,0,0,2,250,...,441,261,90,0,0,0,0,0,0,0
4,2018-01-05,0,0,0,0,0,0,0,0,99,...,625,311,176,4,0,0,0,0,0,0

In [9]:
# 1번 row를 맨처음에 만들고, 아래로 row들을 append시킴
# 결과 2018-1-1이 두번 들어가게 됨  
a = df.iloc[0]
for i in range(len(df['일시'])):
    b=df.iloc[i]
    a = a.append(b)
    
    
df2 = pd.DataFrame(a)

In [12]:
df2.head()

             0
일시  2018-01-01
1시           0
2시           0
3시           0
4시           0

In [13]:
df2.columns = ['power']

In [14]:
df2 = df2.reset_index()

In [15]:
df2.columns = ['time','power']

In [16]:
df2[df2['power'] =='2018-01-01']

   time       power
0    일시  2018-01-01
25   일시  2018-01-01

In [17]:
# 두번 들어간 2018-1-1을 drop시킴
df2.drop(range(0,25), inplace=True)

In [18]:
df2.reset_index(drop=True, inplace=True)

In [19]:
# time column 은 일시 1시, 2시... 
# power column 은 2018-01-01 , 0 , 0, ..
# date column이 필요하고, 날짜가 바뀌는 row들을 제거 해야함

df2.head()

  time       power
0   일시  2018-01-01
1   1시           0
2   2시           0
3   3시           0
4   4시           0

In [26]:
# "time" column 만들기 
times=[]
for j in range(len(df2[df2['time'] =='일시'].index)):
    time = []
    for i in range(25):
        time.append(i)
        
    times.extend(time)

df2['hour'] = times

In [27]:
df2.head()

  time       power  hour
0   일시  2018-01-01     0
1   1시           0     1
2   2시           0     2
3   3시           0     3
4   4시           0     4

In [28]:
# "date" column 생성
df2['date'] = 0

In [29]:
df2.head()

  time       power  hour  date
0   일시  2018-01-01     0     0
1   1시           0     1     0
2   2시           0     2     0
3   3시           0     3     0
4   4시           0     4     0

In [30]:
# "일시"가 있는 row index를 뽑아냄
date_indice = df2[df2['time'] == '일시'].index
date_indice

Int64Index([    0,    25,    50,    75,   100,   125,   150,   175,   200,
              225,
            ...
            22550, 22575, 22600, 22625, 22650, 22675, 22700, 22725, 22750,
            22775],
           dtype='int64', length=912)

In [31]:
# "date" 넣기 
# enemerate 함수는 index와 value 모두 for문으로 사용가능 
# iloc를 이용하면, 숫자 인덱싱으로 해당 row, column에 접근가능 
# 일시, 1시, 2시 ... : 25개 
# df2.iloc[val, 1] -> power column에 있는 날짜들을 뽑아서 
# df2.iloc[25*idx : 25*(idx+1), 3] -> date column에 0:25 , 25:50, ... 범위를 변경하면서 값을 넣음 


for idx, val in enumerate(date_indice):    
    df2.iloc[25*idx:25*(idx+1), 3] = df2.iloc[val,1]
    
df2.head()

  time       power  hour        date
0   일시  2018-01-01     0  2018-01-01
1   1시           0     1  2018-01-01
2   2시           0     2  2018-01-01
3   3시           0     3  2018-01-01
4   4시           0     4  2018-01-01

In [32]:
df2.tail()

      time power  hour        date
22795  20시     0    20  2020-06-30
22796  21시     0    21  2020-06-30
22797  22시     0    22  2020-06-30
22798  23시     0    23  2020-06-30
22799  24시     0    24  2020-06-30

In [33]:
# "일시" 들어 있는 row 제거 
df2.drop(date_indice, inplace=True)

In [34]:
df2.reset_index(drop=True, inplace=True)

In [35]:
df2['date'][0][:4]

'2018'

In [36]:
# year column 만들기 
# date의 처음부터 네번째 글자 뽑아서 year column에 저장
df2['year'] = 0
for i in range(len(df2['date'])):
    df2['year'][i] = df2['date'][i][:4]

<ipython-input-36-b63d46ea6ee1>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['year'][i] = df2['date'][i][:4]

In [37]:
df2.tail()

      time power  hour        date  year
21883  20시     0    20  2020-06-30  2020
21884  21시     0    21  2020-06-30  2020
21885  22시     0    22  2020-06-30  2020
21886  23시     0    23  2020-06-30  2020
21887  24시     0    24  2020-06-30  2020

In [38]:
# 2018년만 뽑아서 저장 
donghae_solar_power_2018 = df2[df2['year'] == 2018]

In [39]:
donghae_solar_power_2018.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8760 entries, 0 to 8759
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   time    8760 non-null   object
 1   power   8760 non-null   object
 2   hour    8760 non-null   int64
 3   date    8760 non-null   object
 4   year    8760 non-null   int64
dtypes: int64(2), object(3)
memory usage: 410.6+ KB

In [202]:
#저장하기

#donghae_solar_power_2018.to_csv('donghae_solar_power2018.csv')