# contents

1. 일사량 데이터 전처리 + 기상데이터(+발전데이터)데이터셋과 결합
2. 계절 column 만들기
3. 대기데이터 결합 (1-4에서 만듬)  
  
  
  
    
    
- 앞 과정에서 사용했던 함수들이기 때문에 상세 주석 생략함 
  
* 주의 : 대기데이터에 null 값이 있음

# 1. 일사량 추정 데이터 전처리 및 기상+발전량데이터셋과 결합
- 강릉지역 법선면 일사량 데이터(추정치)와 기상+발전 데이터 결합 
    - 데이터 : 법선면 일사량 (추정치), 김민주 원우님 제공
        - 법선면 일사량 (추정치)의 시간은 1~8760으로 되어 있음
        - 키값으로 변경하기 위해서 만들어 놓은 데이터 시간을 가져다 쓰기로 생각함 
        - 발전량 데이터를 불러와서 시간 column을 일사량 데이터로 가져다가 씀

- 작업내용   
    1) 강릉지역 법선면 일사량 (추정치) 데이터 불러오기   
    2) 태양광 발전량 데이터 불러오기   
    3) 데이터 결합하기   
    4) 필요없는 시간 제거하기  
    5) 키값 만들기  
    6) 기상데이터와 결합

In [1]:
import pandas as pd

### 1) 강릉지역 법선면 일사량 (추정치) 데이터 불러오기

In [29]:
# 데이터 불러오기 
gangneung_solar_radiation = pd.read_excel('강릉일사량데이터.xlsx')

In [30]:
# 시간이 1~ 8760까지 숫자로 되어 있음 
# 태양광 데이터의 시간을 붙여서 쓰려고 생각함

gangneung_solar_radiation.tail()

,시간,건구온도 (℃),이슬점온도 (℃),상대습도 (%),현지기압 (hPa),전운량 (1/10),풍속 (m/s),수평면 전일사량 (Wh/m²),법선면 직달일사량 (Wh/m²)
8755,8756,2.2,-0.9,78.0,1027.1,0,4.0,0.0,0.0
8756,8757,1.7,-1.5,78.0,1026.9,0,2.9,0.0,0.0
8757,8758,1.0,-2.9,77.0,1026.7,0,1.7,0.0,0.0
8758,8759,1.3,-4.3,63.0,1026.6,0,3.1,0.0,0.0
8759,8760,1.2,-5.7,59.0,1026.4,4,2.8,0.0,0.0

### 2) 태양광 발전량 데이터 불러오기

In [31]:
power = pd.read_csv('donghae_solar_power2018.csv', index_col=0)

In [32]:
power['시간']=gangneung_solar_radiation['시간']

In [33]:
power.tail()

     time  power  hour        date  year    시간
8755  20시      0    20  2018-12-31  2018  8756
8756  21시      0    21  2018-12-31  2018  8757
8757  22시      0    22  2018-12-31  2018  8758
8758  23시      0    23  2018-12-31  2018  8759
8759  24시      0    24  2018-12-31  2018  8760

### 3) 데이터 결합하기

In [34]:
df = pd.merge(gangneung_solar_radiation, power)

In [35]:
df.head()

,시간,건구온도 (℃),이슬점온도 (℃),상대습도 (%),현지기압 (hPa),전운량 (1/10),풍속 (m/s),수평면 전일사량 (Wh/m²),법선면 직달일사량 (Wh/m²),time,power,hour,date,year
0,1,-0.5,-4.3333,75.0,1023.4,0,0.3,0.0,0.0,1시,0,1,2018-01-01,2018
1,2,-1.5,-4.7667,79.0,1022.8,0,0.3,0.0,0.0,2시,0,2,2018-01-01,2018
2,3,-1.8,-5.2000,79.0,1022.2,0,0.4,0.0,0.0,3시,0,3,2018-01-01,2018
3,4,-0.3,-5.1333,68.0,1021.5,0,2.7,0.0,0.0,4시,0,4,2018-01-01,2018
4,5,-0.2,-5.0667,69.0,1020.9,0,1.1,0.0,0.0,5시,0,5,2018-01-01,2018

In [36]:
df.columns

Index(['시간', '건구온도 (℃)', '이슬점온도 (℃)', '상대습도 (%)', '현지기압 (hPa)', '전운량 (1/10)',
       '풍속 (m/s)', '수평면 전일사량 (Wh/m²)', '법선면 직달일사량 (Wh/m²)', 'time', 'power',
       'hour', 'date', 'year'],
      dtype='object')

In [37]:
df=df[['date', 'hour', '법선면 직달일사량 (Wh/m²)']]

In [38]:
df.columns = ['date','hour','solar_radiation_nomal']

In [39]:
df.head()

         date  hour  solar_radiation_nomal
0  2018-01-01     1                    0.0
1  2018-01-01     2                    0.0
2  2018-01-01     3                    0.0
3  2018-01-01     4                    0.0
4  2018-01-01     5                    0.0

In [40]:
df.tail()

            date  hour  solar_radiation_nomal
8755  2018-12-31    20                    0.0
8756  2018-12-31    21                    0.0
8757  2018-12-31    22                    0.0
8758  2018-12-31    23                    0.0
8759  2018-12-31    24                    0.0

### 4) 필요없는 시간 제거하기

In [41]:
# 해 없는 시간 제거하기 
result = []
rej_time = [1,2,3,4,5, 21,22,23,24]
for j in rej_time:
    one_indice = []
    for i in range(len(df[df['hour'] ==j].index)):
        one = df[df['hour'] ==j].index[i]
        one_indice.append(one)
        
    result.extend(one_indice)    

result

[0,
 24,
 48,
 72,
 96,
 120,
 144,
 168,
 192,
 216,
 240,
 264,
 288,
 312,
 336,
 360,
 384,
 408,
 432,
 456,
 480,
 504,
 528,
 552,
 576,
 600,
 624,
 648,
 672,
 696,
 720,
 744,
 768,
 792,
 816,
 840,
 864,
 888,
 912,
 936,
 960,
 984,
 1008,
 1032,
 1056,
 1080,
 1104,
 1128,
 1152,
 1176,
 1200,
 1224,
 1248,
 1272,
 1296,
 1320,
 1344,
 1368,
 1392,
 1416,
 1440,
 1464,
 1488,
 1512,
 1536,
 1560,
 1584,
 1608,
 1632,
 1656,
 1680,
 1704,
 1728,
 1752,
 1776,
 1800,
 1824,
 1848,
 1872,
 1896,
 1920,
 1944,
 1968,
 1992,
 2016,
 2040,
 2064,
 2088,
 2112,
 2136,
 2160,
 2184,
 2208,
 2232,
 2256,
 2280,
 2304,
 2328,
 2352,
 2376,
 2400,
 2424,
 2448,
 2472,
 2496,
 2520,
 2544,
 2568,
 2592,
 2616,
 2640,
 2664,
 2688,
 2712,
 2736,
 2760,
 2784,
 2808,
 2832,
 2856,
 2880,
 2904,
 2928,
 2952,
 2976,
 3000,
 3024,
 3048,
 3072,
 3096,
 3120,
 3144,
 3168,
 3192,
 3216,
 3240,
 3264,
 3288,
 3312,
 3336,
 3360,
 3384,
 3408,
 3432,
 3456,
 3480,
 3504,
 3528,
 3552,
 3576,
 3600,
 3624,
 3648,
 3672,
 3696,
 3720,
 3744,
 3768,
 3792,
 3816,
 3840,
 3864,
 3888,
 3912,
 3936,
 3960,
 3984,
 4008,
 4032,
 4056,
 4080,
 4104,
 4128,
 4152,
 4176,
 4200,
 4224,
 4248,
 4272,
 4296,
 4320,
 4344,
 4368,
 4392,
 4416,
 4440,
 4464,
 4488,
 4512,
 4536,
 4560,
 4584,
 4608,
 4632,
 4656,
 4680,
 4704,
 4728,
 4752,
 4776,
 4800,
 4824,
 4848,
 4872,
 4896,
 4920,
 4944,
 4968,
 4992,
 5016,
 5040,
 5064,
 5088,
 5112,
 5136,
 5160,
 5184,
 5208,
 5232,
 5256,
 5280,
 5304,
 5328,
 5352,
 5376,
 5400,
 5424,
 5448,
 5472,
 5496,
 5520,
 5544,
 5568,
 5592,
 5616,
 5640,
 5664,
 5688,
 5712,
 5736,
 5760,
 5784,
 5808,
 5832,
 5856,
 5880,
 5904,
 5928,
 5952,
 5976,
 6000,
 6024,
 6048,
 6072,
 6096,
 6120,
 6144,
 6168,
 6192,
 6216,
 6240,
 6264,
 6288,
 6312,
 6336,
 6360,
 6384,
 6408,
 6432,
 6456,
 6480,
 6504,
 6528,
 6552,
 6576,
 6600,
 6624,
 6648,
 6672,
 6696,
 6720,
 6744,
 6768,
 6792,
 6816,
 6840,
 6864,
 6888,
 6912,
 6936,
 6960,
 6984,
 7008,
 7032,
 7056,
 7080,
 7104,
 7128,
 7152,
 7176,
 7200,
 7224,
 7248,
 7272,
 7296,
 7320,
 7344,
 7368,
 7392,
 7416,
 7440,
 7464,
 7488,
 7512,
 7536,
 7560,
 7584,
 7608,
 7632,
 7656,
 7680,
 7704,
 7728,
 7752,
 7776,
 7800,
 7824,
 7848,
 7872,
 7896,
 7920,
 7944,
 7968,
 7992,
 8016,
 8040,
 8064,
 8088,
 8112,
 8136,
 8160,
 8184,
 8208,
 8232,
 8256,
 8280,
 8304,
 8328,
 8352,
 8376,
 8400,
 8424,
 8448,
 8472,
 8496,
 8520,
 8544,
 8568,
 8592,
 8616,
 8640,
 8664,
 8688,
 8712,
 8736,
 1,
 25,
 49,
 73,
 97,
 121,
 145,
 169,
 193,
 217,
 241,
 265,
 289,
 313,
 337,
 361,
 385,
 409,
 433,
 457,
 481,
 505,
 529,
 553,
 577,
 601,
 625,
 649,
 673,
 697,
 721,
 745,
 769,
 793,
 817,
 841,
 865,
 889,
 913,
 937,
 961,
 985,
 1009,
 1033,
 1057,
 1081,
 1105,
 1129,
 1153,
 1177,
 1201,
 1225,
 1249,
 1273,
 1297,
 1321,
 1345,
 1369,
 1393,
 1417,
 1441,
 1465,
 1489,
 1513,
 1537,
 1561,
 1585,
 1609,
 1633,
 1657,
 1681,
 1705,
 1729,
 1753,
 1777,
 1801,
 1825,
 1849,
 1873,
 1897,
 1921,
 1945,
 1969,
 1993,
 2017,
 2041,
 2065,
 2089,
 2113,
 2137,
 2161,
 2185,
 2209,
 2233,
 2257,
 2281,
 2305,
 2329,
 2353,
 2377,
 2401,
 2425,
 2449,
 2473,
 2497,
 2521,
 2545,
 2569,
 2593,
 2617,
 2641,
 2665,
 2689,
 2713,
 2737,
 2761,
 2785,
 2809,
 2833,
 2857,
 2881,
 2905,
 2929,
 2953,
 2977,
 3001,
 3025,
 3049,
 3073,
 3097,
 3121,
 3145,
 3169,
 3193,
 3217,
 3241,
 3265,
 3289,
 3313,
 3337,
 3361,
 3385,
 3409,
 3433,
 3457,
 3481,
 3505,
 3529,
 3553,
 3577,
 3601,
 3625,
 3649,
 3673,
 3697,
 3721,
 3745,
 3769,
 3793,
 3817,
 3841,
 3865,
 3889,
 3913,
 3937,
 3961,
 3985,
 4009,
 4033,
 4057,
 4081,
 4105,
 4129,
 4153,
 4177,
 4201,
 4225,
 4249,
 4273,
 4297,
 4321,
 4345,
 4369,
 4393,
 4417,
 4441,
 4465,
 4489,
 4513,
 4537,
 4561,
 4585,
 4609,
 4633,
 4657,
 4681,
 4705,
 4729,
 4753,
 4777,
 4801,
 4825,
 4849,
 4873,
 4897,
 4921,
 4945,
 4969,
 4993,
 5017,
 5041,
 5065,
 5089,
 5113,
 5137,
 5161,
 5185,
 5209,
 5233,
 5257,
 5281,
 5305,
 5329,
 5353,
 5377,
 5401,
 5425,
 5449,
 5473,
 5497,
 5521,
 5545,
 5569,
 5593,
 5617,
 5641,
 5665,
 5689,
 5713,
 5737,
 5761,
 5785,
 5809,
 5833,
 5857,
 5881,
 5905,
 5929,
 5953,
 5977,
 6001,
 6025,
 6049,
 6073,
 6097,
 6121,
 6145,
 6169,
 6193,
 6217,
 6241,
 6265,
 6289,
 6313,
 6337,
 6361,
 6385,
 6409,
 6433,
 6457,
 6481,
 6505,
 6529,
 6553,
 6577,
 6601,
 6625,
 6649,
 6673,
 6697,
 6721,
 6745,
 6769,
 6793,
 6817,
 6841,
 6865,
 6889,
 6913,
 6937,
 6961,
 6985,
 7009,
 7033,
 7057,
 7081,
 7105,
 7129,
 7153,
 7177,
 7201,
 7225,
 7249,
 7273,
 7297,
 7321,
 7345,
 7369,
 7393,
 7417,
 7441,
 7465,
 7489,
 7513,
 7537,
 7561,
 7585,
 7609,
 7633,
 7657,
 7681,
 7705,
 7729,
 7753,
 7777,
 7801,
 7825,
 7849,
 7873,
 7897,
 7921,
 7945,
 7969,
 7993,
 8017,
 8041,
 8065,
 8089,
 8113,
 8137,
 8161,
 8185,
 8209,
 8233,
 8257,
 8281,
 8305,
 8329,
 8353,
 8377,
 8401,
 8425,
 8449,
 8473,
 8497,
 8521,
 8545,
 8569,
 8593,
 8617,
 8641,
 8665,
 8689,
 8713,
 8737,
 2,
 26,
 50,
 74,
 98,
 122,
 146,
 170,
 194,
 218,
 242,
 266,
 290,
 314,
 338,
 362,
 386,
 410,
 434,
 458,
 482,
 506,
 530,
 554,
 578,
 602,
 626,
 650,
 674,
 698,
 722,
 746,
 770,
 794,
 818,
 842,
 866,
 890,
 914,
 938,
 962,
 986,
 1010,
 1034,
 1058,
 1082,
 1106,
 1130,
 1154,
 1178,
 1202,
 1226,
 1250,
 1274,
 1298,
 1322,
 1346,
 1370,
 1394,
 1418,
 1442,
 1466,
 1490,
 1514,
 1538,
 1562,
 1586,
 1610,
 1634,
 1658,
 1682,
 1706,
 1730,
 1754,
 1778,
 1802,
 1826,
 1850,
 1874,
 1898,
 1922,
 1946,
 1970,
 1994,
 2018,
 2042,
 2066,
 2090,
 2114,
 2138,
 2162,
 2186,
 2210,
 2234,
 2258,
 2282,
 2306,
 2330,
 2354,
 2378,
 2402,
 2426,
 2450,
 2474,
 2498,
 2522,
 2546,
 2570,
 2594,
 2618,
 2642,
 2666,
 2690,
 2714,
 2738,
 2762,
 2786,
 2810,
 2834,
 2858,
 2882,
 2906,
 2930,
 2954,
 2978,
 3002,
 3026,
 3050,
 3074,
 3098,
 3122,
 3146,
 3170,
 3194,
 3218,
 3242,
 3266,
 3290,
 3314,
 3338,
 3362,
 3386,
 3410,
 3434,
 3458,
 3482,
 3506,
 3530,
 3554,
 3578,
 3602,
 3626,
 3650,
 3674,
 3698,
 3722,
 3746,
 3770,
 3794,
 3818,
 3842,
 3866,
 3890,
 3914,
 3938,
 3962,
 3986,
 4010,
 4034,
 4058,
 4082,
 4106,
 4130,
 4154,
 4178,
 4202,
 4226,
 4250,
 4274,
 4298,
 4322,
 4346,
 4370,
 4394,
 4418,
 4442,
 4466,
 4490,
 4514,
 4538,
 4562,
 4586,
 4610,
 4634,
 4658,
 4682,
 4706,
 4730,
 4754,
 4778,
 4802,
 4826,
 4850,
 4874,
 4898,
 4922,
 4946,
 4970,
 4994,
 5018,
 5042,
 5066,
 5090,
 5114,
 5138,
 5162,
 5186,
 5210,
 5234,
 5258,
 5282,
 5306,
 5330,
 5354,
 5378,
 5402,
 5426,
 5450,
 5474,
 5498,
 5522,
 5546,
 5570,
 5594,
 5618,
 5642,
 5666,
 5690,
 5714,
 5738,
 5762,
 5786,
 5810,
 5834,
 5858,
 5882,
 5906,
 5930,
 5954,
 5978,
 6002,
 6026,
 6050,
 6074,
 6098,
 6122,
 6146,
 6170,
 6194,
 6218,
 6242,
 6266,
 6290,
 6314,
 6338,
 6362,
 6386,
 6410,
 6434,
 6458,
 ...]

In [42]:
df.drop(result, inplace=True)
df.reset_index(drop=True, inplace=True)
df.head()

         date  hour  solar_radiation_nomal
0  2018-01-01     6                 0.0000
1  2018-01-01     7                 0.0000
2  2018-01-01     8                 0.0000
3  2018-01-01     9                 4.7812
4  2018-01-01    10                17.7890

In [43]:
df.tail()

            date  hour  solar_radiation_nomal
5470  2018-12-31    16                 430.85
5471  2018-12-31    17                 121.58
5472  2018-12-31    18                   0.00
5473  2018-12-31    19                   0.00
5474  2018-12-31    20                   0.00

In [44]:
# 소수점 둘째자리까지 반올림
solars=[]
for i in range(len(df['date'])):
    solar = round(df.solar_radiation_nomal[i], 2)
    solars.append(solar)
    
df['solar'] = solars

In [45]:
df.head()

         date  hour  solar_radiation_nomal  solar
0  2018-01-01     6                 0.0000   0.00
1  2018-01-01     7                 0.0000   0.00
2  2018-01-01     8                 0.0000   0.00
3  2018-01-01     9                 4.7812   4.78
4  2018-01-01    10                17.7890  17.79

In [46]:
df = df[['date', 'hour', 'solar']]

In [47]:
df.columns = ['date','hour','solar_radiation_normal']

In [48]:
df.head()

         date  hour  solar_radiation_normal
0  2018-01-01     6                    0.00
1  2018-01-01     7                    0.00
2  2018-01-01     8                    0.00
3  2018-01-01     9                    4.78
4  2018-01-01    10                   17.79

In [49]:
df.tail()

            date  hour  solar_radiation_normal
5470  2018-12-31    16                  430.85
5471  2018-12-31    17                  121.58
5472  2018-12-31    18                    0.00
5473  2018-12-31    19                    0.00
5474  2018-12-31    20                    0.00

### 5) 키값 만들기

In [50]:
df['hour'] = df['hour'].astype(str)

In [51]:
# 키값 만들기
df['date_time'] = df['date'] + '-' + df['hour']

In [52]:
df.head()

         date hour  solar_radiation_normal      date_time
0  2018-01-01    6                    0.00   2018-01-01-6
1  2018-01-01    7                    0.00   2018-01-01-7
2  2018-01-01    8                    0.00   2018-01-01-8
3  2018-01-01    9                    4.78   2018-01-01-9
4  2018-01-01   10                   17.79  2018-01-01-10

In [53]:
df2= df[['date_time', 'solar_radiation_normal']]

In [54]:
df2.head()

       date_time  solar_radiation_normal
0   2018-01-01-6                    0.00
1   2018-01-01-7                    0.00
2   2018-01-01-8                    0.00
3   2018-01-01-9                    4.78
4  2018-01-01-10                   17.79

### 6) 기상데이터와 결합

In [55]:
# 만들어놓았던 기상데이터 불러오기
df10 = pd.read_csv('donghae_solar_power_dataset2018.csv', index_col=0)

In [56]:
df10.head()

,date,hour,humidity,rain,rain_type,temp,thunder,wind_angle,wind_velo,sky_con,power,date_time
0,2018-01-01,6,17.0,0.0,0.0,4.7,0.0,289.0,2.8,1,0,2018-01-01-6
1,2018-01-01,7,19.0,0.0,0.0,3.4,0.0,278.0,2.7,1,0,2018-01-01-7
2,2018-01-01,8,14.0,0.0,0.0,2.7,0.0,268.0,2.3,1,7,2018-01-01-8
3,2018-01-01,9,18.0,0.0,0.0,2.3,0.0,268.0,2.3,2,245,2018-01-01-9
4,2018-01-01,10,20.0,0.0,0.0,2.1,0.0,250.0,3.0,2,776,2018-01-01-10

In [57]:
df100 = pd.merge(df10, df2)

In [58]:
df100.head()

,date,hour,humidity,rain,rain_type,temp,thunder,wind_angle,wind_velo,sky_con,power,date_time,solar_radiation_normal
0,2018-01-01,6,17.0,0.0,0.0,4.7,0.0,289.0,2.8,1,0,2018-01-01-6,0.00
1,2018-01-01,7,19.0,0.0,0.0,3.4,0.0,278.0,2.7,1,0,2018-01-01-7,0.00
2,2018-01-01,8,14.0,0.0,0.0,2.7,0.0,268.0,2.3,1,7,2018-01-01-8,0.00
3,2018-01-01,9,18.0,0.0,0.0,2.3,0.0,268.0,2.3,2,245,2018-01-01-9,4.78
4,2018-01-01,10,20.0,0.0,0.0,2.1,0.0,250.0,3.0,2,776,2018-01-01-10,17.79

In [59]:
df100.columns

Index(['date', 'hour', 'humidity', 'rain', 'rain_type', 'temp', 'thunder',
       'wind_angle', 'wind_velo', 'sky_con', 'power', 'date_time',
       'solar_radiation_normal'],
      dtype='object')

In [60]:
df100=df100[['date', 'hour', 'humidity', 'rain', 'rain_type', 'temp', 'thunder',
       'wind_angle', 'wind_velo', 'sky_con', 'solar_radiation_normal','power', 'date_time']]

In [61]:
df100.head()

,date,hour,humidity,rain,rain_type,temp,thunder,wind_angle,wind_velo,sky_con,solar_radiation_normal,power,date_time
0,2018-01-01,6,17.0,0.0,0.0,4.7,0.0,289.0,2.8,1,0.00,0,2018-01-01-6
1,2018-01-01,7,19.0,0.0,0.0,3.4,0.0,278.0,2.7,1,0.00,0,2018-01-01-7
2,2018-01-01,8,14.0,0.0,0.0,2.7,0.0,268.0,2.3,1,0.00,7,2018-01-01-8
3,2018-01-01,9,18.0,0.0,0.0,2.3,0.0,268.0,2.3,2,4.78,245,2018-01-01-9
4,2018-01-01,10,20.0,0.0,0.0,2.1,0.0,250.0,3.0,2,17.79,776,2018-01-01-10

In [62]:
df100[df100['power'] >1000]

,date,hour,humidity,rain,rain_type,temp,thunder,wind_angle,wind_velo,sky_con,solar_radiation_normal,power,date_time
5,2018-01-01,11,26.0,0.0,0.0,2.1,0.0,259.0,3.8,2,291.69,1361,2018-01-01-11
6,2018-01-01,12,27.0,0.0,0.0,2.2,0.0,264.0,3.8,2,353.29,1681,2018-01-01-12
7,2018-01-01,13,27.0,0.0,0.0,1.9,0.0,255.0,3.1,2,179.65,1733,2018-01-01-13
8,2018-01-01,14,29.0,0.0,0.0,1.6,0.0,251.0,2.4,2,46.11,1645,2018-01-01-14
9,2018-01-01,15,28.0,0.0,0.0,2.0,0.0,265.0,3.6,2,188.56,1231,2018-01-01-15
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5409,2018-12-27,15,20.0,0.0,0.0,-7.0,-1.0,302.0,3.6,1,352.84,1147,2018-12-27-15
5424,2018-12-28,15,19.0,0.0,0.0,-4.9,-1.0,289.0,5.1,1,800.67,1132,2018-12-28-15
5439,2018-12-29,15,23.0,0.0,0.0,-4.0,-1.0,280.0,2.7,1,806.73,1154,2018-12-29-15
5454,2018-12-30,15,46.0,0.0,0.0,-3.5,-1.0,244.0,1.8,1,401.51,1136,2018-12-30-15
5469,2018-12-31,15,21.0,0.0,0.0,-1.0,-1.0,237.0,0.6,1,674.62,1055,2018-12-31-15

In [63]:
# df100.to_csv('donghae_solar_power_dataset2018_rev.csv')

# 2. 계절 만들기
- timestamp로 만들어서 구간별 값 입력

In [64]:
df100.tail()

,date,hour,humidity,rain,rain_type,temp,thunder,wind_angle,wind_velo,sky_con,solar_radiation_normal,power,date_time
5470,2018-12-31,16,26.0,0.0,0.0,-2.7,-1.0,228.0,1.4,3,430.85,457,2018-12-31-16
5471,2018-12-31,17,18.0,0.0,0.0,-1.2,-1.0,253.0,1.8,2,121.58,117,2018-12-31-17
5472,2018-12-31,18,24.0,0.0,0.0,-2.7,-1.0,217.0,1.8,2,0.00,2,2018-12-31-18
5473,2018-12-31,19,22.0,0.0,0.0,-2.7,-1.0,209.0,1.1,3,0.00,0,2018-12-31-19
5474,2018-12-31,20,23.0,0.0,0.0,-2.7,-1.0,217.0,1.2,3,0.00,0,2018-12-31-20

In [65]:
# timestamp로 바꾸기 
import datetime
date_times=[]
for i in range(len(df100['date'])):
    date_time = datetime.datetime.strptime(df100['date'][i], '%Y-%m-%d')
    date_times.append(date_time)
    
df100['timestamp'] = date_times

In [66]:
df100.head()

,date,hour,humidity,rain,rain_type,temp,thunder,wind_angle,wind_velo,sky_con,solar_radiation_normal,power,date_time,timestamp
0,2018-01-01,6,17.0,0.0,0.0,4.7,0.0,289.0,2.8,1,0.00,0,2018-01-01-6,2018-01-01
1,2018-01-01,7,19.0,0.0,0.0,3.4,0.0,278.0,2.7,1,0.00,0,2018-01-01-7,2018-01-01
2,2018-01-01,8,14.0,0.0,0.0,2.7,0.0,268.0,2.3,1,0.00,7,2018-01-01-8,2018-01-01
3,2018-01-01,9,18.0,0.0,0.0,2.3,0.0,268.0,2.3,2,4.78,245,2018-01-01-9,2018-01-01
4,2018-01-01,10,20.0,0.0,0.0,2.1,0.0,250.0,3.0,2,17.79,776,2018-01-01-10,2018-01-01

In [67]:
df100['season'] = 0
df100.head()

,date,hour,humidity,rain,rain_type,temp,thunder,wind_angle,wind_velo,sky_con,solar_radiation_normal,power,date_time,timestamp,season
0,2018-01-01,6,17.0,0.0,0.0,4.7,0.0,289.0,2.8,1,0.00,0,2018-01-01-6,2018-01-01,0
1,2018-01-01,7,19.0,0.0,0.0,3.4,0.0,278.0,2.7,1,0.00,0,2018-01-01-7,2018-01-01,0
2,2018-01-01,8,14.0,0.0,0.0,2.7,0.0,268.0,2.3,1,0.00,7,2018-01-01-8,2018-01-01,0
3,2018-01-01,9,18.0,0.0,0.0,2.3,0.0,268.0,2.3,2,4.78,245,2018-01-01-9,2018-01-01,0
4,2018-01-01,10,20.0,0.0,0.0,2.1,0.0,250.0,3.0,2,17.79,776,2018-01-01-10,2018-01-01,0

In [68]:
# 2018년 입춘, 입하, 입추 일
sp_indice = df100[(df100['timestamp'] > "2018-02-03") & (df100['timestamp'] < "2018-05-05")].index
sm_indice = df100[(df100['timestamp'] > "2018-05-04") & (df100['timestamp'] < "2018-08-07")].index
fa_indice = df100[(df100['timestamp'] > "2018-08-06") & (df100['timestamp'] < "2018-11-07")].index

In [69]:
# 봄 1 여름 2 가을 3 겨울 0 
df100.iloc[sp_indice,-1] = 1
df100.iloc[sm_indice,-1] = 2
df100.iloc[fa_indice,-1] = 3

In [70]:
df100.columns

Index(['date', 'hour', 'humidity', 'rain', 'rain_type', 'temp', 'thunder',
       'wind_angle', 'wind_velo', 'sky_con', 'solar_radiation_normal', 'power',
       'date_time', 'timestamp', 'season'],
      dtype='object')

In [71]:
# 필요없는 column 제거 
df100 = df100[['date', 'hour', 'humidity', 'rain', 'rain_type', 'temp', 'thunder',
       'wind_angle', 'wind_velo', 'sky_con', 'solar_radiation_normal', 'season', 'power',
       'date_time']]

In [72]:
df100.head()

,date,hour,humidity,rain,rain_type,temp,thunder,wind_angle,wind_velo,sky_con,solar_radiation_normal,season,power,date_time
0,2018-01-01,6,17.0,0.0,0.0,4.7,0.0,289.0,2.8,1,0.00,0,0,2018-01-01-6
1,2018-01-01,7,19.0,0.0,0.0,3.4,0.0,278.0,2.7,1,0.00,0,0,2018-01-01-7
2,2018-01-01,8,14.0,0.0,0.0,2.7,0.0,268.0,2.3,1,0.00,0,7,2018-01-01-8
3,2018-01-01,9,18.0,0.0,0.0,2.3,0.0,268.0,2.3,2,4.78,0,245,2018-01-01-9
4,2018-01-01,10,20.0,0.0,0.0,2.1,0.0,250.0,3.0,2,17.79,0,776,2018-01-01-10

# 3. 미세먼지 데이터 붙이기
- donghae_solar_power_dataset2018_rev2.csv 데이터에 null값 직접 엑셀로 사이값 평균으로 채워 넣음

In [2]:
air = pd.read_csv('donghae_air2018.csv', index_col=0)
air.head()

         date  hour    SO2   CO     O3    NO2  PM10  PM25      date_time
0  2018-01-01     6  0.002  0.4  0.034  0.005  17.0  12.0   2018-01-01-6
1  2018-01-01     7  0.003  0.4  0.032  0.006  19.0  12.0   2018-01-01-7
2  2018-01-01     8  0.002  0.5  0.030  0.009  19.0  12.0   2018-01-01-8
3  2018-01-01     9  0.003  0.5  0.031  0.008  17.0  13.0   2018-01-01-9
4  2018-01-01    10  0.003  0.5  0.033  0.006  14.0   NaN  2018-01-01-10

In [74]:
air.columns

Index(['date', 'hour', 'SO2', 'CO', 'O3', 'NO2', 'PM10', 'PM25', 'date_time'], dtype='object')

In [75]:
air = air[['SO2', 'CO', 'O3', 'NO2', 'PM10', 'PM25', 'date_time']]
air.head()

     SO2   CO     O3    NO2  PM10  PM25      date_time
0  0.002  0.4  0.034  0.005  17.0  12.0   2018-01-01-6
1  0.003  0.4  0.032  0.006  19.0  12.0   2018-01-01-7
2  0.002  0.5  0.030  0.009  19.0  12.0   2018-01-01-8
3  0.003  0.5  0.031  0.008  17.0  13.0   2018-01-01-9
4  0.003  0.5  0.033  0.006  14.0   NaN  2018-01-01-10

In [76]:
df1000 = pd.merge(df100, air)
df1000.head()

,date,hour,humidity,rain,rain_type,temp,thunder,wind_angle,wind_velo,sky_con,solar_radiation_normal,season,power,date_time,SO2,CO,O3,NO2,PM10,PM25
0,2018-01-01,6,17.0,0.0,0.0,4.7,0.0,289.0,2.8,1,0.00,0,0,2018-01-01-6,0.002,0.4,0.034,0.005,17.0,12.0
1,2018-01-01,7,19.0,0.0,0.0,3.4,0.0,278.0,2.7,1,0.00,0,0,2018-01-01-7,0.003,0.4,0.032,0.006,19.0,12.0
2,2018-01-01,8,14.0,0.0,0.0,2.7,0.0,268.0,2.3,1,0.00,0,7,2018-01-01-8,0.002,0.5,0.030,0.009,19.0,12.0
3,2018-01-01,9,18.0,0.0,0.0,2.3,0.0,268.0,2.3,2,4.78,0,245,2018-01-01-9,0.003,0.5,0.031,0.008,17.0,13.0
4,2018-01-01,10,20.0,0.0,0.0,2.1,0.0,250.0,3.0,2,17.79,0,776,2018-01-01-10,0.003,0.5,0.033,0.006,14.0,NaN

In [77]:
df1000.columns

Index(['date', 'hour', 'humidity', 'rain', 'rain_type', 'temp', 'thunder',
       'wind_angle', 'wind_velo', 'sky_con', 'solar_radiation_normal',
       'season', 'power', 'date_time', 'SO2', 'CO', 'O3', 'NO2', 'PM10',
       'PM25'],
      dtype='object')

In [78]:
df1000 = df1000[['date', 'hour', 'humidity', 'rain', 'rain_type', 'temp', 'thunder',
       'wind_angle', 'wind_velo', 'sky_con', 'solar_radiation_normal',
       'season', 'SO2', 'CO', 'O3', 'NO2', 'PM10',
       'PM25','power','date_time']]
df1000.head()

,date,hour,humidity,rain,rain_type,temp,thunder,wind_angle,wind_velo,sky_con,solar_radiation_normal,season,SO2,CO,O3,NO2,PM10,PM25,power,date_time
0,2018-01-01,6,17.0,0.0,0.0,4.7,0.0,289.0,2.8,1,0.00,0,0.002,0.4,0.034,0.005,17.0,12.0,0,2018-01-01-6
1,2018-01-01,7,19.0,0.0,0.0,3.4,0.0,278.0,2.7,1,0.00,0,0.003,0.4,0.032,0.006,19.0,12.0,0,2018-01-01-7
2,2018-01-01,8,14.0,0.0,0.0,2.7,0.0,268.0,2.3,1,0.00,0,0.002,0.5,0.030,0.009,19.0,12.0,7,2018-01-01-8
3,2018-01-01,9,18.0,0.0,0.0,2.3,0.0,268.0,2.3,2,4.78,0,0.003,0.5,0.031,0.008,17.0,13.0,245,2018-01-01-9
4,2018-01-01,10,20.0,0.0,0.0,2.1,0.0,250.0,3.0,2,17.79,0,0.003,0.5,0.033,0.006,14.0,NaN,776,2018-01-01-10

In [79]:
# df1000.to_csv('donghae_solar_power_dataset2018_rev2.csv')